
/* - - - - - - - - - - - - - - import fonts   - - - - - - - - - - - - - - - */

@font-face {
    font-family: poppinsBold;
    src: url(../fonts/Poppins-Bold.otf);
}


@font-face {
    font-family: poppinsRegular;
    src: url(../fonts/Poppins-Regular.otf);
}


/* - - - - - - - - - - - - - - general styling  - - - - - - - - - - - - - - - */

*, a {
  font-family: poppinsRegular;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

/* .active {
    background-color: #ffb83d;
    padding: 5px;
    margin-right: 4%;
} */

#p-container {
  margin-left: 15%;
  margin-right: 10%;
  max-width: 90%;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

}

#landing-paragraph {
  margin-top: 5%;
  font-size: 0.9em;
  letter-spacing: 0.8;
  margin-left: 5px;
    overflow-y: hidden;
}

#b-container {
    margin-top: 5vh;
}

#sign-up {
  display: inline-block;
  background-color: #ffcb2f;
  border: none;
  color: black;
  padding: 20px;
  margin-bottom: 4vh;
  margin-left: 2vw;
  justify-content: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 12px;
  font-family: poppinsBold;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

/* - - - - - - - - - - - - landing visual asset styling   - - - - - - - - - - - - - - - */

.landing-visual {
  display: inline;
  position: absolute;
  width: 45%;
  height: 100vh;
  left:0;
  top:0;
  bottom:0;
  background-color: #fff;
  background-image: url("../photos/GIU4P.jpg");
  background-position: center;
  background-repeat: none;
}

#container {
  display: inline-block;
  position: absolute;
  left: 47%;
  width: 52%;
  top: 2vh;
  height: 100vh;
  /* border: 3px solid red; */
  overflow-y: none;
  z-index: 0;
}

#top-half {
  position: relative;
  width: 100%;
  height: 40vh;
  margin-bottom: 10%;
  margin-top: 4.5vh;
}

#bottom-half {
  position: relative;
  /* border: 2px solid black; */
  width: 100%;
  height: 80vh;
  top:-4vh;
  max-height: 52vh;
  /* margin-top: 8.5vh; */
  overflow-y: scroll;
  overflow-y: hidden;
  scroll-behavior:smooth;
}


/* - - - - - - - - - - - - scrollbar styling  - - - - - - - - - - - - - - - */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-corner {
  background:#fff;
}

/* - - - - - - - - - - - - logo  - - - - - - - - - - - - - - - */


#logo-big {
  display: inline-block;
  position: absolute;
  bottom:0;
  width: 35vw;
  height: 100%;
  left:-5vw;
  top: 1em;
  background-image: url("../photos/LOGO.svg");
  background-repeat: no-repeat;
  background-position: left;
  transform: scale(1.05);
  z-index: 3;
  /* border: 1px solid red; */
}

#launch-date {
  background-image: url("../photos/LAUNCH-DATE.svg");
  background-repeat: no-repeat;
  height: 100%;
  transform: scale(0.5);

}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}


/* - - - - - - - - - - - - media queries  - - - - - - - - - - - - - - - */

@media all and (max-width: 880px) {
    #sign-up {

      height: 10px;
    }
}


@media all and (max-width: 760px) {

    #logo-small {
      display: inline-block;
      position: absolute;
      width: 45%;
      height: 25%;
      left:3vw;
      top: 1em;
      background-image: url("../photos/LOGO.svg");
      background-repeat: no-repeat;
      background-position: left;
      z-index: 4;
      /* border: 2px solid red; */
    }

    #logo-big {
      display: none;
    }

    .landing-visual{
    display: inline;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    background-image: url("../photos/GIU4P-S.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #container {
      width: 100%;
      left:0;
      overflow-y: hidden;
  }

  #p-container {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 95%;
    overflow-y: hidden;
  }

  p#landing-paragraph {
    margin-top: 1%;
    font-size: 0.7em;
    letter-spacing: 0.8;
  }


}

/* @media all and (max-width: 600px) {
	.container {
		width: 100%;
	} */


/* - - - - - - - - - - - - countdown - - - - - - - - - - - - - - - */

#countdown {
  transform: scale(1.1);
  /* border: 2px solid red; */
  margin-left: 3%;
}


 #count-wrapper {
   width: 50%;
   height: auto;
   /* border: 1px solid black; */
 }

  /* #countdown {
    color: #000;
    text-align: center;
    position: absolute;
    top: 42vh;
    height:10%;
    right: 20.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

    li {
      display: inline-block;
      font-size: 0.5em;
      list-style-type: none;
      padding: 1em;
      text-transform: uppercase;
    }

    li span {
      display: block;
      font-size: 2.1rem;
    }

/* - - - - - - - - - - - - donate button  - - - - - - - - - - - - - - - */

/* #btn-container {
    width: 100%;
    display: inline;
    position: absolute;
} */

.donate {
    position: -webkit-sticky;
    position: sticky;
    background-color: #ffcb2f;
    border: none;
    color: black;
    padding: 25px;
    justify-content:center;
    /* display: inline-block; */
    font-size: 14px;
    font-family: poppinsBold;
    height: 3vh;
    /* transform: scale(0.8); */
}

#donate-btn{
  position: absolute;
  right: 0;
  top: 8vh;
  height: 6vh;
  width: 90px;
}

/* - - - - - - - - - - - - social media  - - - - - - - - - - - - - - - */

.social-media {
  display: inline-block;
  position: absolute;
  max-width: 40%;
  right: 10px;
  top: 58%;
  height: 5vh;
  /* border: 2px solid purple; */
}

.sm-icons {
  display: inline-flex;
  justify-content: space-between;
  padding: 0.1rem;
  width: 3vw;
  /* border: 3px solid red; */
}

.sm-icons#fb{
  background-image: url(../photos/FACEBOOK.svg);
  background-repeat: no-repeat;
}

.sm-icons#ig{
  background-image: url(../photos/TWITTER.svg);
  background-repeat: no-repeat;
}

.sm-icons#tw{
  background-image: url(../photos/IG.svg);
  background-repeat: no-repeat;
}


/* - - - - - - - - - - - - navigation   - - - - - - - - - - - - - - - */

.navigation {
  display: block;
  width: 100%;
  height: 6vh;
  margin-top: 9vh;
  margin-left: 5vw;
}

.nav {
  letter-spacing: 0.6px;
  border: none;
  font-size: 0.7em;
  color: black;
  display: inline-flex;
  justify-content:space-between;
  padding-right: 3vw;
  padding-left: 2vw;
  width: auto;
  text-decoration: none;
  /* height: 5vh; */
}


.footer{
  display: inline-block;
  width: 100vw;
  position: absolute;
  left:0;
  bottom:0;
  background-color: white;
  opacity: 0.5;
  height: 7%;
  z-index: 1;
}

/*------------------------------------------------------------------*/


html, body, .page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  transition: all .0s cubic-bezier(.5, .2, .2, 1.1);
  -webkit-transition: all .0s cubic-bezier(.5, .2, .2, 1.1);
  -moz-transition: all .0s cubic-bezier(.5, .2, .2, 1.1);
  -o-transition: all .0s cubic-bezier(.5, .2, .2, 1.1);
  overflow: hidden;
}

.page {
  position: absolute;
}

#p1 {
  left: 0;
}

#p2, #p3, #p4, #p5 {
  left: 200%;
}

#p2 { background: gold; }
#p3 { background: gold; }
#p4 { background: white; }

#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5 {
  transform: translateX(-190%);
  -webkit-transform: translateX(-190%);
  -moz-transform: translateX(-190%);
  -o-transform: translateX(-190%);
  /* transition-delay: .4s !important; */
}

#t2:target #p1,
#t3:target #p1,
#t4:target #p1,
#t5:target #p1{
  background: black;
}

#t2:target #p1 .icon,
#t3:target #p1 .icon,
#t4:target #p1 .icon,
#t5:target #p1 .icon {
  -webkit-filter: blur(3px);
}

.icon {
  color: orange;
  font-size: 35px;
  display: block;
}

ul .icon:hover {
  opacity: 0.5;
}

.page .icon .title {
  line-height: 2;
}

#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon,
#t5:target ul .icon{
  transform: scale(.6);
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -o-transform: scale(.6);
  /* transition-delay: .25s; */
}

#t2:target #dos,
#t3:target #tres,
#t4:target #cuatro,
#t4:target #cinco {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}

/* ul {
  position: fixed;
  z-index: 1;
  top:30vh;
  bottom: 0;
  margin: auto;
  height: auto;
  width: 6%;
  padding: 10px;
  text-align: center;
 } */

#uno {
   /* background-image: url(../photos/.svg); */
 }

#dos {
    background-image: url(../photos/.svg);
  }

#tres {
   background-image: url(../photos/.svg);
 }

#cuatro {
  background-image: url(../photos/.svg);
}

#menu .icon {
  margin: 10px 0;
  /* background-color: orange;
  border-radius: 10px; */
  transition: all .0s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
}

.title, .hint {
  display: block;
}

.title {
  font-size: 38px;
}

.hint {
  font-size: 13px;
}

#p4 .hint {
  display: inherit !important;
}

.hint a {
  color: yellow;
  transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
}

.hint a:hover {
  color: #FFF;
}

.line-trough {
  text-decoration: line-through;
}

.page .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 0;
  width: 270px;
  height: 170px;
  margin: auto;
  text-align: center;
  font-size: 80px;
  line-height: 1.3;
  transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all 0s cubic-bezier(.25, 1, .5, 1.25);
  -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

.page#p1 .icon {
  height: 220px;
}

.page#p1 .icon {
  transform: translateX(10%) !important;
}

#t2:target .page#p2 .icon,
#t3:target .page#p3 .icon,
#t4:target .page#p4 .icon,
#t5:target .page#p5 .icon {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  /* transition-delay: 0.5s; */
}


/* ------------------------------------IG WIDGET --------------------------------------*/
#ig-widget-container{
  position: absolute;
  width: 70vw;
  height: 65%;
  overflow:scroll;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 30vh;
}
