
/* - - - - - - - - - - - - - - import fonts   - - - - - - - - - - - - - - - */

@font-face {
    font-family: poppinsBold;
    src: url(../fonts/Poppins-Bold.otf);
}


@font-face {
    font-family: poppinsRegular;
    src: url(../fonts/Poppins-Regular.otf);
}

@font-face {
    font-family: openSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}


@font-face {
    font-family: openSans-SemiBold;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}


#howitworks {margin-top: 50vh;width:100%;height: 500px;color: #fff;padding: 12px}
#about {padding-top:30px;height:500px;color: #fff; background-color: #fff}
#corporate {padding-top:50px;height:500px;color: #fff; background-color: #fff;}
#participant {padding-top:50px;height:500px;color: #fff; background-color: #fff;}


#landing-visual {
  display: none;
}


#myVideo {
  width:100%;
  height:auto;
}


#countdown{
  transform:scale(0.8);
}

.active {
  background-color: orange;
}

/* #nav-container{
  position: absolute;
  height:100%;
  display: block;

} */

#nav-toggle {
  display: inline-flex;
  justify-content: space-between;
  width: 500px;
  z-index: 3;
}

#high1{
  font-size: 0.7em;
  font-family: poppinsBold;
  padding: 10px;
}

#high2{
  font-size: 0.7em;
  font-family: poppinsBold;
  padding: 10px;
}

#high3{
  font-size: 0.7em;
  font-family: poppinsBold;
  padding: 10px;
}

#high4{
  font-size: 0.7em;
  font-family: poppinsBold;
  padding: 10px;
}

@media screen and (min-height: 100%) {

  #nav-container {
    background-color: red;
  }
}

/* - - - - - - - - - - - - - - - - - - - -  - - - - - - navigation - - - - - - - - - - - - - - -  - - - - - - - - - - -  - - - - - - - - - - - - - - - - - */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


#navbar {
  overflow: hidden;
  background-color: none;
  z-index: 5;
  margin-bottom: 2vh;
  font-size: 0.8em;
  margin-left: 80%;
  /* display: flex;
  justify-content: space-around; */
}

/* - - - - register icons - - - - - - -  - - */

#howitworks {
  color: black;
  margin-left: 2%;
}

#how-1 {
  background-image: url(../photos/1.SVG);
  width: 50px;
  height: 50px;
}

#how-icon-1 {
  background-image: url(../photos/icon1.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 50px;
  background-position: right;
  transform: scale(1.6);
}

#how-2 {
  background-image: url(../photos/2.SVG);
  width: 50px;
  height: 50px;
}

#how-icon-2 {
  background-image: url(../photos/icon2.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 50px;
  background-position: right;
  transform: scale(1.8);
}

#how-3 {
  background-image: url(../photos/3.SVG);
  width: 50px;
  height: 50px;
}

#how-icon-3 {
  background-image: url(../photos/icon3.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 50px;
  background-position: right;
  transform: scale(1.8);
}

#how-4 {
  background-image: url(../photos/4.SVG);
  width: 50px;
  height: 50px;
}

#how-icon-4 {
  background-image: url(../photos/icon4.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 50px;
  background-position: right;
  transform: scale(1.8);
}

/* - - - - - - - - - - -  navbar - - - - - - - - - -  /*


/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: black;
  letter-spacing: 0.04em;
  font-family: poppinsRegular;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#sign-up-link {
  background-color: white;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - -   custom fonts  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */




/* - - - - - - - - - - - - - - general styling  - - - - - - - - - - - - - - - */

html {
  /* overflow: hidden; */

}

:link { color: #ffcb2f; }
:visited { color: #ffcb2f; }

*, a {
  font-family: openSans-Regular;
  text-decoration: none;
}


h2{
    font-family: poppinsRegular;
}

p#how{
  font-size: 0.75em;
  max-width: 160px;
  line-height: 2;
}

h4 {
  font-size: 1.1em;
  max-width: 500px;
  line-height: 1.4;
}

body {
  overflow-x: hidden;
}


#donate-link {
  background-color: #F09416;
}

#abt-paragraph {
  max-width: 600px;
  line-height: 2;
  letter-spacing: 0.02em;
  font-size: 0.8em;
  margin-left: 20%;
}
/* .active {
    background-color: #ffb83d;
    padding: 5px;
    margin-right: 4%;
} */

#p-container {
  margin-left: 15%;
  margin-right: 10%;
  max-width: 90%;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

}

#landing-paragraph {
  margin-top: 9%;
  max-width: 520px;
  font-size: 0.85em;
  line-height: 1.8;
  font-family: openSans-Regular;
  overflow-y: hidden;
}

#b-container {
    margin-top: 1.8vh;
    margin-left: 8%;
}

p#launch-party {
  font-size: 0.8em;
  letter-spacing: 0.02em;
  float:right;

}

#launch-party-btn {
  border: none;
  padding: 10px;
  background-color: #FFC12F;
  color: black;
  opacity: 0.8;
  border-radius: 15px;
}

#sign-up {
  display: inline-block;
  background-color: #FFC12F;
  border: none;
  color: black;
  padding: 18px;
  margin-bottom: 4vh;
  margin-left: 2vw;
  justify-content: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 12px;
  font-family: poppinsBold;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

/* - - - - - - - - - - - - landing visual asset styling   - - - - - - - - - - - - - - - */

#landing-vid-container {
  width: 45%;
  left: 2%;
  /* border: 5px solid red; */
  top:30vh;
  position: relative;
}

.landing-video {
  /* width: 100%; */
  /* border: 1px solid black; */
  /* display: flex; */

}

#container {
  display: inline-block;
  position: absolute;
  left: 45%;
  width: 52%;
  top: 5vh;
  height: 100vh;
  /* border: 3px solid red; */
  /* overflow-y: none; */
  z-index: 1;
}

#top-half {
  position: relative;
  width: 100%;
  height: 40vh;
  margin-bottom: 10%;
  margin-top: 4.5vh;
}

#bottom-half {
  position: relative;
  width: 100%;
  height: 100%;
  top:-15vh;
  overflow-y: hidden;
  scroll-behavior:smooth;
}


/* - - - - - - - - - - - - columns  - - - - - - - - - - - - - - - */


.column {
    float: left;
    width: 25%;

  }
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* - - - - - - - - - - - - logo  - - - - - - - - - - - - - - - */

#logo-big {
  display: inline-block;
  position: absolute;
  bottom:0;
  width: 26vw;
  height: 100%;
  left:2.5vw;
  top: 0.3em;
  background-image: url("../photos/LOGO.svg");
  background-repeat: no-repeat;
  background-position: left;
  transform: scale(1.05);
  z-index: 1;
  /* border: 1px solid red; */
}

#launch-date {
  background-image: url("../photos/LAUNCH-DATE.svg");
  background-repeat: no-repeat;
  height: 100%;
  transform: scale(0.5);

}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}


/* - - - - - - - - - - - - media queries  - - - - - - - - - - - - - - - */

@media all and (min-width: 760px) {
    .hamburger-container {
      display: none;
    }
    #open {

    }
    #th-container {
      /* border: 1px solid black; */
      position: absolute;
      right:0;
      margin-top: 20%;
      transform: scale(1.1);

    }
}


@media all and (max-width: 1100px) {

  #top-half{
    /* border: 5px solid red; */

  }

  #logo-big {
      position: absolute;
      top: -5vh;
      z-index: 1;
  }

  #bottom-half {
    top: -19vh;
    /* border: 2px solid green; */

  }

  #b-container {
      margin-top: 1vh;
      margin-left: 1%;

  }

  #th-container {
    transform: scale(0.8);
  }

  #logo-big {
    left: -2%;
  }



}

@media all and (max-width: 900px) {


      .column {
        width: 50%;
        height: 50%;
        margin-bottom: 10%;
      }

      .row:after {
          content: "";
          display: table;
          clear: both;
      }

      #landing-visual {
        margin-top: 80px;
        max-height: 180px;

      }

      #landing-vid-container {
        top: 30vh;

      }

     #howitworks {margin-top: 90vh;width:100%;height: 500px; padding: 12px;}


}

@media all and (max-width: 760px) {


     #howitworks {margin-top: 165vh;width:100%;height: 500px; padding: 12px;}
     #about {padding-top:120px;height:500px;color: #fff; background-color: #ACDEE2}
     #corporate {padding-top:50px;height:500px;color: #fff; background-color: #fff;}
     #participant {padding-top:50px;height:500px;color: #fff; background-color: #fff;}


    h4 {
      font-size: 1em;
      max-width: 410px;
      line-height: 1.4;
    }

    #nav-toggle {
      display: none;
    }

    #navbar {
      display: none;
    }

    #sign-up {
      width: 80%;
      padding: 15px;

    }

    #logo-small {
      display: inline-block;
      position: absolute;
      width: 45%;
      height: 25%;
      left:3vw;
      top: 1.2em;
      background-image: url("../photos/LOGO.svg");
      background-repeat: no-repeat;
      background-position: left;
      z-index: 2;
      /* border: 2px solid red; */
    }

    #logo-big {
      display: none;
    }

    .landing-video {
      display: none;
    }


    #myVideo {
        width: 100%;
        height:auto;
        margin-bottom: 10%;
}

    #landing-visual{
      position: absolute;
      display: block;
      width:100%;
      /* border: 1px solid red; */
      top:100vh;
      margin-bottom: 10%;

    /* display: block; */
    /* position: absolute; */
    /* width: 100vw;
    height: 100vh;
    background-color: none; */
    /* background-image: url("../photos/GIU4P-S.jpg"); */
    /* background-position: center;
    background-repeat: no-repeat; */
  }

  #container {
      width: 100%;
      height: 105vh;
      left:2px;
      overflow-y: hidden;

  }

  #p-container {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 95%;
    overflow-y: hidden;
  }

  #landing-paragraph {
    margin-top:0%;
    max-width: 280px;;
    font-size: 0.85em;
    letter-spacing: 0.8;
    margin-left: 5px;
    overflow-y: hidden;
    font-family: openSans-Regular;
  }

  #bottom-half {
    top: -18vh;
    /* border: 2px solid black; */
  }


  #th-container {
    /* border: 1px solid black; */
    position: absolute;
    right:-10px;
    margin-top: 18.5%;
    transform: scale(0.7);

  }


  .hamburger-container {
    z-index: 2;
    float:right;
    position: absolute;
    top:2vh;
    right:0;
    padding: 10px;
  }

  #open {
   border: none;
   background: none;
   color:black;
   transform: scale(1.7);

  }

  #countdown {
    transform: scale(1);
    width: 100%;

  }

}



@media all and (max-width: 550px) {
	     #howitworks {margin-top: 152vh;width:90%;height: 500px; padding: 12px;}
}


/* - - - - - - - - - - - - countdown - - - - - - - - - - - - - - - */



 #count-wrapper {
   width: 50%;
   height: auto;
   /* border: 1px solid black; */
 }

  /* #countdown {
    color: #000;
    text-align: center;
    position: absolute;
    top: 42vh;
    height:10%;
    right: 20.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

    li {
      display: inline-block;
      font-size: 0.5em;
      list-style-type: none;
      padding: 1em;
      text-transform: uppercase;
    }

    li span {
      display: block;
      font-size: 2.1rem;
    }


/* - - - - - - - - - - - - video content - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - donate button  - - - - - - - - - - - - - - - */

/* #btn-container {
    width: 100%;
    display: inline;
    position: absolute;
} */

.donate {
    position: -webkit-sticky;
    position: sticky;
    background-color: #ffcb2f;
    border: none;
    color: black;
    padding: 25px;
    justify-content:center;
    /* display: inline-block; */
    font-size: 14px;
    font-family: poppinsBold;
    height: 3vh;
    /* transform: scale(0.8); */
}

#donate-btn{
  position: absolute;
  right: 0;
  top: 8vh;
  height: 6vh;
  width: 90px;
}

/* - - - - - - - - - - - - countdown  - - - - - - - - - - - - - - - */

.countdown-container {


}

/* -----------------social media icons --------------------------------*/

.sm-icons {
  display: inline-flex;
  justify-content: space-between;
  padding: 0.1rem;
  width: 3vw;
  /* border: 3px solid red; */
}

.sm-icons#fb{
  background-image: url(../photos/FACEBOOK.svg);
  background-repeat: no-repeat;
}

.sm-icons#ig{
  background-image: url(../photos/TWITTER.svg);
  background-repeat: no-repeat;
}

.sm-icons#tw{
  background-image: url(../photos/IG.svg);
  background-repeat: no-repeat;
}


/* - - - - - - - - - - - - navigation   - - - - - - - - - - - - - - - */


.footer{
  display: inline-block;
  width: 100vw;
  position: absolute;
  left:0;
  bottom:0;
  background-color: white;
  opacity: 0.5;
  height: 7%;
  z-index: 1;
}

/* ------------------------------------IG WIDGET --------------------------------------*/
#ig-widget-container{
  position: absolute;
  width: 70vw;
  height: 65%;
  overflow:scroll;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 30vh;
}
